<app-componente-listar 
    [titulo]="'Lista de Subsistemas'" 
    [displayedColumns]="['nombre', 'descripcion', 'link', 'estado','action']"  
    [link_adicionar]="'/home/administracion/subsistemacreate'"
    [link_editar]="'/home/administracion/subsistemaedit'"
    [table_dataSource]="subsistemas_dataSource"
    [pageSizeOptions]="pageSizeOptions"
    [url_endpoint]="'administracion/subsistemas'"
    [permisos_borrar]="permisos_borrar"
    [permisos_editar]="permisos_editar"
    [permisos_crear]="permisos_crear"
    >
</app-componente-listar>