<app-componente-listar 
    [titulo]="'Lista de Agencias'" 
    [displayedColumns]="['nombre', 'abreviatura', 'direccion', 'telefono','ciudades','estado','action']"  
    [link_adicionar]="'/home/parametros/agencia-create'"
    [link_editar]="'/home/parametros/agencia-edit'"
    [table_dataSource]="dataSource"
    [pageSizeOptions]="pageSizeOptions"
    [url_endpoint]="'parametros/agencias'"
    [permisos_borrar]="permisos_borrar"
    [permisos_editar]="permisos_editar"
    [permisos_crear]="permisos_crear"
    >
</app-componente-listar>