<div class="container">
    <div class="header">
        <h1 class="header__title">{{ operacion }}</h1>
    </div>
    <div class="content">
        <mat-card class="card">
            <mat-card-header class="card__header">
                <h4>{{ editar }}</h4>
            </mat-card-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">
                    <div class="form-group">
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Nombre:</label>
                                <input formControlName="nombre" type="text" placeholder="Ejem. 6 de Marzo"
                                    class="input-control"
                                    [ngClass]="{'invalid': nombreControl.invalid && (nombreControl.dirty || nombreControl.touched), 'valid': nombreControl.valid}">
                            </div>
                            <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                                class="error-message">
                                <span *ngIf="nombreControl.errors?.['required']">El nombre es Requerido</span>
                                <span *ngIf="nombreControl.errors?.['minlength']">El nombre debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="nombreControl.errors?.['maxlength']">El nombre no debe tener mas de 200
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Abreviatura</label>
                                <input formControlName="abreviatura" type="text" placeholder="Ejem. 6M"
                                    class="input-control"
                                    [ngClass]="{'invalid': abreviaturaControl.invalid && (abreviaturaControl.dirty || abreviaturaControl.touched), 'valid': abreviaturaControl.valid}">
                            </div>
                            <div *ngIf="abreviaturaControl.invalid && (abreviaturaControl.dirty || abreviaturaControl.touched)"
                                class="error-message">
                                <span *ngIf="abreviaturaControl.errors?.['required']">La abreviatura es Requerida</span>
                                <span *ngIf="abreviaturaControl.errors?.['maxlength']">La abreviatura no debe tener mas
                                    de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Direccion</label>
                                <input formControlName="direccion" type="text" placeholder="Ejem. calle 4 Avenida 6 de Marzo"
                                    class="input-control"
                                    [ngClass]="{'invalid': direccionControl.invalid && (direccionControl.dirty || direccionControl.touched), 'valid': direccionControl.valid}">
                            </div>
                            <div *ngIf="direccionControl.invalid && (direccionControl.dirty || direccionControl.touched)"
                                class="error-message">
                                <span *ngIf="direccionControl.errors?.['required']">La direccion es Requerida</span>
                                <span *ngIf="direccionControl.errors?.['maxlength']">La direccion no debe tener mas
                                    de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Telefono</label>
                                <input formControlName="telefono" type="text" placeholder="Ejem. 789946546"
                                    class="input-control"
                                    [ngClass]="{'invalid': telefonoControl.invalid && (telefonoControl.dirty || telefonoControl.touched), 'valid': telefonoControl.valid}">
                            </div>
                            <div *ngIf="telefonoControl.invalid && (telefonoControl.dirty || telefonoControl.touched)"
                                class="error-message">
                                <span *ngIf="telefonoControl.errors?.['required']">La telefono es Requerida</span>
                                <span *ngIf="telefonoControl.errors?.['maxlength']">La telefono no debe tener mas
                                    de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Ciudad:</label>
                                <select formControlName="ciudades" class="input-control"
                                    [ngClass]="{'invalid': ciudadesControl.invalid && (ciudadesControl.dirty || ciudadesControl.touched), 'valid': ciudadesControl.valid}">
                                    <option value="" disabled selected>Selecciona Ciudad</option>
                                    <option *ngFor="let dato of city" [value]="dato.uuid">{{ dato.nombre }}
                                    </option>
                                </select>
                            
                            </div>
                        </div>
                       
                    </div>
                </form>
            </mat-card-content>
            <mat-card-footer class="card__footer">
                <button routerLink="{{ regreso }}" class="button button--simple">
                    Cancelar
                </button>
                <button data-cy="guardar" type="submit" class="button button--create" (click)="ejecutarCreate()" >Guardar</button>
            </mat-card-footer>
        </mat-card>

    </div>
</div>