<div class="body">
    <div class="body__header">
        <h1 class="body__h1">Editar de Tipo de Documento</h1>
    </div>
    <div class="body__content">
        <form id="loginform" [formGroup]="formGroup">
            <mat-card class="card card--one">
                <app-form-header [titulo]="'Datos de Tipo de Documento'" ></app-form-header>
                <mat-card-content class="card__content">

                    <div class="content content--one">
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Nombre del Tipo de Documento:</label>
                                <input type="text" formControlName="nombre" placeholder="Ejem. Carnet de Identidad"
                                    class="content__imput">
                            </div>
                            <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                                class="text-danger">
                                <span *ngIf="nombreControl.errors?.['required']">El Nombre es Requerido</span>
                                <span *ngIf="nombreControl.errors?.['minlength']">El Nombre debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="nombreControl.errors?.['maxlength']">El Nombre no debe tener mas de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Descripcion:</label>
                                <input type="text" formControlName="descripcion"
                                    class="content__imput content__imput--big"
                                    placeholder="Ejem. Documento de identidad perteneciente a un pais" cols="3"
                                    rows="3">
                            </div>
                            <div *ngIf="descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched)"
                                class="text-danger">
                                <span *ngIf="descripcionControl.errors?.['required']">La Descripcion es Requerida</span>
                                <span *ngIf="descripcionControl.errors?.['minlength']">La Descripcion debe contener mas
                                    de 3
                                    caracteres</span>
                                <span *ngIf="descripcionControl.errors?.['maxlength']">La Descripcion no debe tener mas
                                    de
                                    50
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Estado:</label>
                                <select formControlName="estado" class="content__imput">
                                    <option value="true">Activado</option>
                                    <option value="false">Desactivado</option>
                                </select>
                            </div>
                            <div *ngIf="estadoControl.invalid && (estadoControl.dirty || estadoControl.touched)"
                                class="text-danger">
                                <span *ngIf="estadoControl.errors?.['required']">El Estado es Requerido</span>

                            </div>
                        </div>
                    </div>



                </mat-card-content>
            <!--     <mat-card-footer class="card__footer">


                    <button routerLink="/home/tipo-documento-list" class="button button--simple">
                        Cancelar
                    </button>

                    <button class="button button--create" (click)="create()" data-cy="TipoDocEdit">Guardar</button>



                </mat-card-footer> -->
                <app-form-footer [routerLink]='"/home/tipo-documento-list"' (saveClicked)="create()"></app-form-footer>
            </mat-card>
        </form>
    </div>
</div>