<div class="contenedor">
    <div class="formulario">
        <div class="formulario__logo">
            <img src="assets/gamb.png">
        </div>
        <div class="formulario__titulo">
            Sistema de Compras Giros y Remesas
        </div>
        <form id="loginform" [formGroup]="formGroup">
            <div class="formulario__inputs">
                <div class="input-group"
                    [ngClass]="{'invalid': userControl.invalid && (userControl.dirty || userControl.touched), 'valid': userControl.valid}">
                    <input formControlName="usuario" type="text" autocomplete="off" name="usuario" placeholder="Usuario"
                        noNewLine class="input-group__input">
                    <mat-icon class="input-group__icon">person</mat-icon>
                </div>

                <div *ngIf="userControl.invalid && (userControl.dirty || userControl.touched)" class="text-danger">
                    <span *ngIf="userControl.errors?.['required']">Usuario es Requerido</span>
                    <span *ngIf="userControl.errors?.['minlength']">Usuario debe tener mas de 3
                        caracteres</span>
                    <span *ngIf="userControl.errors?.['maxlength']">Usuario debe tener menos de 30
                        caracteres</span>
                </div>
            </div>
            <div class="formulario__inputs">
                <div class="input-group"
                    [ngClass]="{'invalid': passwordControl.invalid && (passwordControl.dirty || passwordControl.touched), 'valid': passwordControl.valid}">
                    <input formControlName="password" type="password" autocomplete="off" placeholder="Contraseña"
                        name="password" class="input-group__input">
                    <mat-icon class="input-group__icon">lock</mat-icon>

                </div>
                <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)"
                    class="text-danger">
                    <span *ngIf="passwordControl.errors?.['required']">Contraseña es Requerido</span>
                    <span *ngIf="passwordControl.errors?.['minlength']">Contraseña debe tener mas de 3
                        caracteres</span>
                    <span *ngIf="passwordControl.errors?.['maxlength']">Contraseña debe tener menos de 30
                        caracteres</span>
                </div>
            </div>
            <p class="formulario__text">Autenticacion Facial</p>

            <webcam [height]="180" [allowCameraSwitch]="false" [trigger]="$trigger" (imageCapture)="snapshot($event)">
            </webcam>


            <div class="formulario__captcha"
                [ngClass]="{'invalid': recaptchaControl.invalid && (recaptchaControl.dirty || recaptchaControl.touched), 'valid': recaptchaControl.valid}">
                <ngx-recaptcha2 #captchaElem [siteKey]="sitekey" formControlName="recaptcha" required></ngx-recaptcha2>
                <div *ngIf="recaptchaControl.invalid && (recaptchaControl.dirty || recaptchaControl.touched)"
                    class="text-danger">
                    <span *ngIf="recaptchaControl.errors?.['required']">Captcha Requerido</span>
                </div>
            </div>


            <button class="formulario__button" type="submit" title="Ingresar" (click)="login()"
                name="Ingresar">Ingresar</button>
        </form>
    </div>
</div>