<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="contenedor">
            <div class="login">
                <div class="login__img">
                    <img src="assets/gamb.png">
                </div>
                <div class="login__titulo">
                    Sistema de Compras Giros y Remesas
                </div>
                <form id="loginform" [formGroup]="formGroup">
                    <div class="content">
                        <div class="imputs">
                            <input formControlName="usuario" type="text" autocomplete="off" name="usuario"
                                placeholder="Usuario">
                            <mat-icon>person</mat-icon>
                        </div>
                        <div *ngIf="userControl.invalid && (userControl.dirty || userControl.touched)"
                            class="text-danger">
                            <span *ngIf="userControl.errors?.['required']">User is Required</span>
                            <span *ngIf="userControl.errors?.['minlength']">User should be greater than 3
                                characters</span>
                            <span *ngIf="userControl.errors?.['maxlength']">User should be less than 30
                                characters</span>
                        </div>

                    </div>
                    <div class="content">
                        <div class="imputs">
                            <input formControlName="password" type="password" autocomplete="off"
                                placeholder="Contraseña" name="password">
                            <mat-icon>lock</mat-icon>
                        </div>
                        <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)"
                            class="text-danger">
                            <span *ngIf="passwordControl.errors?.['required']">Password is Required</span>
                            <span *ngIf="passwordControl.errors?.['minlength']">Password should be greater than 3
                                characters</span>
                            <span *ngIf="passwordControl.errors?.['maxlength']">Password should be less than 30
                                characters</span>
                        </div>
                    </div>
                    <div class="auth">
                        Autenticacion Facial
                        <webcam [height]="180" [allowCameraSwitch]="false" [trigger]="$trigger"
                            (imageCapture)="snapshot($event)"></webcam>
                    </div>
                    <div class="robot">
                        <ngx-recaptcha2 #captchaElem [siteKey]="sitekey" formControlName="recaptcha"
                            required></ngx-recaptcha2>
                    </div>
                    <div *ngIf="recaptchaControl.invalid && (recaptchaControl.dirty || recaptchaControl.touched)"
                        class="text-danger">
                        <span *ngIf="recaptchaControl.errors?.['required']">Captcha is Required</span>
                    </div>

                    <button type="submit" title="Ingresar" (click)="login()" name="Ingresar">Ingresar</button>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>