.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: #333b43;
}

.login {
    padding: 10px 25px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login__img {
    margin-top: -80px;
}

.login__titulo {
    font-weight: bold;
    font-size: 120%;
    color: black;
    margin-bottom: 10px;
    padding-bottom: 16px;
    width: 180px;
    margin: 0 auto;
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 100%;
    color: #ff6a00;
    text-align: center;
    width: 300px;

}


.mat-icon {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    box-shadow: 0 0 4px #383c44;
    background-color: #cfd1d2;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
}

.imputs {
    display: flex;
    height: 90%;

}

.content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-bottom: 8px;
    
    height: 40px;
}

.login__input {
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    font-size: 90%;
    color: #5a636c;
    box-shadow: 0 0 2px #383c44;
    display: block;
    width: 100%;
    height: 100%;
    /* margin-bottom: 20px; */
    padding: 5px 5px 5px 10px;
    border: #383c44;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;

}

.login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.login button {
    font-family: 'Overpass', sans-serif;
    font-size: 90%;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 0%;
    background-color: #ff6a00;

    margin-top: 10px;
}

.login button:hover {
    background-color: black;
    color: white;
}


.text-danger {
    color: red;
    display: flex;
    align-content: flex-start;
    font-size: 12px;
    height: 50%;

}

.invalid {
    border: 2px solid red;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px red;
}

.valid {
    border: 2px solid yellowgreen;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px yellowgreen;
}

input:focus {
    outline: unset;
}