<div class="body">
    <div class="body__header">
        <h1 class="body__h1">Editar Pais</h1>
    </div>
    <div class="body__content">
        <mat-card class="card card--one">
            <app-form-header [titulo]="'Datos del Pais'"></app-form-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">


                    <div class="content__inputs">
                        <label for="" class="content__formlabel">Nombre:</label>
                        <input formControlName="nombre" type="text" placeholder="Ejem. Bolivia" class="content__imput"
                            [ngClass]="{'invalid': nombreControl.invalid && (nombreControl.dirty || nombreControl.touched), 'valid': nombreControl.valid}">
                        <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                            class="text-danger">
                            <span *ngIf="nombreControl.errors?.['required']">El Nombre es Requerido</span>
                            <span *ngIf="nombreControl.errors?.['minlength']">El Nombre debe contener mas de 3
                                caracteres</span>
                            <span *ngIf="nombreControl.errors?.['maxlength']">El Nombre no debe tener mas de 200
                                caracteres</span>
                        </div>
                    </div>



                    <div class="content__inputs">
                        <label for="" class="content__formlabel">Nacionalidad</label>
                        <input formControlName="nacionalidad" type="text" class="content__imput"
                            placeholder="Ejem. Bolita"
                            [ngClass]="{'invalid': nacionalidadControl.invalid && (nacionalidadControl.dirty || nacionalidadControl.touched), 'valid': nacionalidadControl.valid}">

                        <div *ngIf="nacionalidadControl.invalid && (nacionalidadControl.dirty || nacionalidadControl.touched)"
                            class="text-danger">
                            <span *ngIf="nacionalidadControl.errors?.['required']">NacionalidadRequerido</span>
                           
                        </div>
                    </div>



                    <div class="content__inputs">
                        <label for="" class="content__formlabel">Bandera</label>
                        <input formControlName="bandera" type="text" class="content__imput">
                    </div>



                </form>
            </mat-card-content>
     
            <app-form-footer [regreso]='"/home/parametros/pais-list"' (saveClicked)="update()"></app-form-footer>
        </mat-card>

    </div>
</div>