<div class="body">
    <div class="body__header">
        <h1 class="body__h1">Perfil Persona</h1>
    </div>

    <div class="body__content">
        <div class="header">
            <div class="profile__icon">
                <mat-icon class="icon">account_circle</mat-icon>
            </div>
            <div class="profile_datospers">
                <table class="profile__top">
                    <tr>
                        <td class="name__profile"><b>{{person?.nombres}} {{person?.primer_apellido}} {{person?.segundo_apellido}}</b></td>
                    </tr>
                    <tr>
                        <td>Cargo: </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="usuario__body">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Datos Personales
                    </ng-template>
                  
                    <div class="card__content">
                        <table class="profile__data">
                            <tr>
                                <td><b>Estado Civil:</b></td>
                                <td>{{person?.estado_civil}}</td>
                            </tr>
                            <tr>
                                <td><b>Fecha de Nacimiento:</b></td>
                                <td>{{person?.fecha_nacimiento}} </td>
                            </tr>
                            <tr>
                                <td><b>Celular:</b></td>
                                <td>{{person?.celular}}</td>
                            </tr>
                            <tr>
                                <td><b>Genero:</b></td>
                                <td>{{person?.genero}}</td>
                            </tr>
                            <tr>
                                <td><b>Ocupacion:</b></td>
                                <td>{{person?.ocupacion}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card__footer">
                        <a routerLink="/home/personedit/{{person?.uuid}}" class="button button--create" data-cy="personaeditar">
                            <span>Editar Datos Personales</span>
                        </a>
                    </div>
                </mat-tab>
                <mat-tab label="Roles">
                    <table mat-table [dataSource]="dataSource" class="card__table">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Rol </th>
                            <td mat-cell *matCellDef="let element"> {{element?.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripcion de Rol </th>
                            <td mat-cell *matCellDef="let element"> {{element?.descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado del Rol</th>
                            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-tab>
                <mat-tab label="Documentos">
                   
                    <table mat-table [dataSource]="dataSource1" class="card__table">
                        <ng-container matColumnDef="documento">
                            <th mat-header-cell *matHeaderCellDef> Documento </th>
                            <td mat-cell *matCellDef="let element1"> {{element1?.tipoDocumentos.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef> Numero </th>
                            <td mat-cell *matCellDef="let element1"> {{element1.numero}} </td>
                        </ng-container>
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element1"> {{element1.estado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lugar">
                            <th mat-header-cell *matHeaderCellDef> Lugar de Emision </th>
                            <td mat-cell *matCellDef="let element1"> {{element1.lugar_emision}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Accciones </th>
                            <td mat-cell *matCellDef="let element1">
                               
                                    <a routerLink="/home/documentoedit/{{element1.uuid}}"class="button button--simple">
                                        <span>Editar</span>
                                    </a>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                    <div class="card__footer">
                        <a routerLink="/home/documentocreate/{{person?.uuid}}" class="button button--create">
                            <span>Añadir documento</span>
                        </a>
                    </div>
                </mat-tab>
                <mat-tab label="Usuario" data-cy="usuariover">
                
                    <table class="profile__data">

                        <tr>
                            <td><b>Usuario:</b></td>
                            <td>{{user?.usuario}}</td>
                        </tr>
                        <tr>
                            <td><b>Correo Personal:</b></td>
                            <td>{{user?.correoPersonal}}</td>
                        </tr>
                        <tr>
                            <td><b>Correo Corporativo:</b></td>
                            <td>{{user?.correoCorporativo}}</td>
                        </tr>
                        <tr>
                            <td><b>Estado:</b></td>
                            <td>{{user?.estado}}</td>
                        </tr>
                    </table>
                    <div class="card__footer">
                        <button routerLink="/home/useredit/{{user?.uuid}}" class="button button--simple" [disabled]="disableEditUser">
                            Editar Usuario
                        </button>
                        <button routerLink="/home/usercreate/{{person?.uuid}}" [disabled]="disableCreateUser" class="button button--create" data-cy="usuariocreate">
                            Añadir Usuario
                        </button>
                    </div>
                </mat-tab>

            </mat-tab-group>


        </div>
    </div>
</div>