  <app-componente-listar 
    [titulo]="'Lista de Tipos de Documentos'" 
    [displayedColumns]="['nombre', 'descripcion', 'estado','action']"  
    [link_adicionar]="'/home/parametros/tipo-documento-create'"
    [link_editar]="'/home/parametros/tipo-documento-edit'"
    [table_dataSource]="tipodocumentos_dataSource"
    [pageSizeOptions]="pageSizeOptions"
    [url_endpoint]="'parametros/tipo_documentos'"
    [permisos_borrar]="permisos_borrar"
    [permisos_editar]="permisos_editar"
    [permisos_crear]="permisos_crear"
    >
</app-componente-listar>