<div class="body">
    <div class="body__header">
        <h1 class="body__h1">Editar Pais</h1>
    </div>
    <div class="body__content">
        <mat-card class="card card--one">
            <mat-card-header class="card__header--form">
                <h4>Editar Datos del Pais</h4>
            </mat-card-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">
                    <div class="content content--one">
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Nombre:</label>
                                <input formControlName="nombre" type="text" placeholder="Ejem. Masculino"
                                    class="content__imput"
                                    [ngClass]="{'invalid': nombreControl.invalid && (nombreControl.dirty || nombreControl.touched), 'valid': nombreControl.valid}">
                            </div>
                            <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                                class="text-danger">
                                <span *ngIf="nombreControl.errors?.['required']">El Nombre es Requerido</span>
                                <span *ngIf="nombreControl.errors?.['minlength']">El Nombre debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="nombreControl.errors?.['maxlength']">El Nombre no debe tener mas de 200
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Bandera</label>
                                <input formControlName="bandera" type="text" placeholder="M" class="content__imput"
                                    [ngClass]="{'invalid': banderaControl.invalid && (banderaControl.dirty || banderaControl.touched), 'valid': banderaControl.valid}">
                            </div>
                            <div *ngIf="banderaControl.invalid && (banderaControl.dirty || banderaControl.touched)"
                                class="text-danger">
                                <span *ngIf="banderaControl.errors?.['required']">La bandera es Requerida</span>
                                <span *ngIf="banderaControl.errors?.['maxlength']">La bandera no debe tener mas
                                    de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-footer class="card__footer">
                <button routerLink="/home/pais-list" class="button button--simple">
                    Cancelar
                </button>
                <button type="submit" class="button button--create" (click)="update()"
                    data-cy="creargenero">Guardar</button>
            </mat-card-footer>
        </mat-card>

    </div>
</div>