<div class="body">
    <div class="body__header">
        <h1 class="body__h1">Registrar Subsistema</h1>
    </div>
    <div class="body__content">
        <mat-card class="card card--small">
            <app-form-header [titulo]="'Datos del Subsistema'"></app-form-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">


                    <div class="input-group">
                        <label for="" class="input-group__formlabel">Nombre:</label>
                        <input formControlName="nombre" type="text" placeholder="Ejem. Contaduria"
                            class="input-group__imput"
                            [ngClass]="{'invalid': nombreControl.invalid && (nombreControl.dirty || nombreControl.touched), 'valid': nombreControl.valid}">
                        <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                            class="text-danger">
                            <span *ngIf="nombreControl.errors?.['required']">El Nombre es Requerido</span>
                            <span *ngIf="nombreControl.errors?.['minlength']">El Nombre debe contener mas de 3
                                caracteres</span>
                            <span *ngIf="nombreControl.errors?.['maxlength']">El Nombre no debe tener mas de 200
                                caracteres</span>
                        </div>
                    </div>



                    <div class="input-group">
                        <label for="" class="input-group__formlabel">Descripcion</label>
                        <input formControlName="descripcion" type="text" placeholder="Ejem. Modulo para Contadores"
                            class="input-group__imput"
                            [ngClass]="{'invalid': descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched), 'valid': descripcionControl.valid}">
                        <div *ngIf="descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched)"
                            class="text-danger">
                            <span *ngIf="descripcionControl.errors?.['required']">La Descripcion es Requerido</span>
                            <span *ngIf="descripcionControl.errors?.['minlength']">La Descripcion debe contener mas
                                de
                                3
                                caracteres</span>
                            <span *ngIf="descripcionControl.errors?.['maxlength']">La Descripcion no debe tener mas
                                de
                                200
                                caracteres</span>
                        </div>
                    </div>


                    <div class="input-group">
                        <label for="" class="input-group__formlabel">Link:</label>
                        <input formControlName="link" type="text" class="input-group__imput"
                        [ngClass]="{'invalid': linkControl.invalid && (linkControl.dirty || linkControl.touched), 'valid': linkControl.valid}">
                        <div *ngIf="linkControl.invalid && (linkControl.dirty || linkControl.touched)"
                            class="text-danger">
                            <span *ngIf="linkControl.errors?.['required']">El link es Requerido</span>
                            <span *ngIf="linkControl.errors?.['minlength']">El link debe contener mas de 3
                                caracteres</span>
                            <span *ngIf="linkControl.errors?.['maxlength']">El link no debe tener mas de
                                200
                                caracteres</span>
                        </div>
                    </div>







                </form>
            </mat-card-content>
            <app-form-footer [regreso]='"/home/administracion/subsistemas"' (saveClicked)="create()"></app-form-footer>
        </mat-card>

    </div>
</div>