.header {
    text-align: start;
    margin-bottom: 20px;

    &__title {
        font-size: 24px;
        margin: 0;
    }
}


.content {
    display: flex;

    width: 70%;

    .card {


        &__header {
            text-align: center;
            background-color: #343A40;
            color: white;
            border-radius: 4px 4px 0 0;
            h4 {

                font-size: 18px;
            }
        }

        &__content {
            padding: 20px;

            .form-group {
                .input-validation {
                    margin-bottom: 20px;

                    .input-group {
                        margin-bottom: 10px;

                        .input-label {
                            display: block;
                            margin-bottom: 5px;
                        }

                        .input-control {
                            width: 80%;
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 5px;

                            &.invalid {
                                border-color: red;
                            }

                            &.valid {
                                border-color: yellowgreen;
                            }
                        }
                    }

                    .error-message {
                        color: red;
                        font-size: 14px;
                    }
                }
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;

        }
    }
}