<app-componente-listar 
    [titulo]="'Lista de Menus'" 
    [displayedColumns]="['nombre', 'descripcion', 'link', 'subsistemas','estado','action']"  
    [link_adicionar]="'/home/administracion/menucreate'"
    [link_editar]="'/home/administracion/menuedit'"
    [table_dataSource]="menus_dataSource"
    [pageSizeOptions]="pageSizeOptions"
    [url_endpoint]="'administracion/menus'"
    [permisos_borrar]="permisos_borrar"
    [permisos_editar]="permisos_editar"
    [permisos_crear]="permisos_crear"
    >
</app-componente-listar>