<app-componente-listar 
    [titulo]="'Lista de Tipos de Cuentas Bancarias'" 
    [displayedColumns]="['nombre', 'abreviatura','estado','action']"  
    [link_adicionar]="'/home/parametros/tipo-cuenta-bancaria-create'"
    [link_editar]="'/home/parametros/tipo-cuenta-bancaria-edit'"
    [table_dataSource]="dataSource"
    [pageSizeOptions]="pageSizeOptions"
    [url_endpoint]="'parametros/cuentas_bancarias'"
    [permisos_borrar]="permisos_borrar"
    [permisos_editar]="permisos_editar"
    [permisos_crear]="permisos_crear"
    >
</app-componente-listar>