<div class="container">
    <div class="header">
        <h1 class="header__title">Registrar Documento</h1>
    </div>
    <div class="content">
        <mat-card class="card">
            <mat-card-header class="card__header">
                <h4>Datos del Documento</h4>
            </mat-card-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">
                    <div class="form-group">
                        <div class="input-validatio">
                            <div class="input-group">
                                <label for="" class="input-label">Numero:</label>
                                <input formControlName="numero" type="text" placeholder="Ejem. 6830018"
                                    class="input-control">
                            </div>
                            <div *ngIf="numeroControl.invalid && (numeroControl.dirty || numeroControl.touched)"
                                class="error-message">
                                <span *ngIf="numeroControl.errors?.['required']">El Nombre es Requerido</span>
                                <span *ngIf="numeroControl.errors?.['minlength']">El Nombre debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="numeroControl.errors?.['maxlength']">El Nombre no debe tener mas de 30
                                    caracteres</span>
                            </div>
                        </div>

                        <form [formGroup]="tipodocFormGroup">
                            <div class="input-validatio">
                                <div class="input-group">

                                    <label for="" class="input-label">Tipo de Documento:</label>
                                    <select formControlName="uuid" class="input-control">
                                        <option value="" disabled selected>Selecciona Tipo de Documento</option>
                                        <option aria-placeholder="Selecciones Tipo de Documento"
                                            *ngFor="let dato of datos" [value]="dato.uuid">{{ dato.nombre }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="input-validatio">
                            <div class="input-group">
                                <label for="" class="input-label">Lugar de Emision</label>
                                <input formControlName="lugar_emision" type="text" placeholder="Ejem La Paz (Opcional)"
                                    class="input-control">
                            </div>
                            <div *ngIf="lugarControl.invalid && (lugarControl.dirty || lugarControl.touched)"
                                class="error-message">
                                <span *ngIf="lugarControl.errors?.['required']">La Descripcion es Requerida</span>
                                <span *ngIf="lugarControl.errors?.['minlength']">La Descripcion debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="lugarControl.errors?.['maxlength']">La Descripcion no debe tener mas de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validatio">
                            <div class="input-group">
                                <label for="" class="input-label">Estado</label>
                                <select formControlName="estado" class="input-control">
                                    <option value="true">Activado</option>
                                    <option value="false">Desactivado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-footer class="card__footer">
                <button class="button button--simple" routerLink="/home/personprofile/{{uuid}}">Cancelar</button>
                <button type="submit" class="button button--create" (click)="create()">Guardar</button>
            </mat-card-footer>
        </mat-card>
    </div>
</div>