<div class="body">
    <div class="body__header">
        <h1 class="body__h1">Editar Ocupacion</h1>
    </div>
    <div class="body__content">
        <mat-card class="card card--small">
            <app-form-header [titulo]="'Datos de Ocupacion'"></app-form-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">


                    <div class="input-group">
                        <label for="" class="input-group__formlabel">Nombre:</label>
                        <input formControlName="nombre" type="text" placeholder="Ejem. Masculino" class="input-group__imput"
                            [ngClass]="{'invalid': nombreControl.invalid && (nombreControl.dirty || nombreControl.touched), 'valid': nombreControl.valid}">
                        <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                            class="text-danger">
                            <span *ngIf="nombreControl.errors?.['required']">El Nombre es Requerido</span>
                            <span *ngIf="nombreControl.errors?.['minlength']">El Nombre debe contener mas de 3
                                caracteres</span>
                            <span *ngIf="nombreControl.errors?.['maxlength']">El Nombre no debe tener mas de 200
                                caracteres</span>
                        </div>
                    </div>



                    <div class="input-group">
                        <label for="" class="input-group__formlabel">Descripcion</label>
                        <input formControlName="descripcion" type="text" placeholder="M" class="input-group__imput"
                            [ngClass]="{'invalid': descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched), 'valid': descripcionControl.valid}">
                        <div *ngIf="descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched)"
                            class="text-danger">
                            <span *ngIf="descripcionControl.errors?.['required']">La Abreviatura es Requerida</span>
                            <span *ngIf="descripcionControl.errors?.['maxlength']">La Abreviatura no debe tener mas
                                de
                                30
                                caracteres</span>
                        </div>
                    </div>



                </form>
            </mat-card-content>
            <app-form-footer [regreso]='"/home/parametros/ocupacion-list"' (saveClicked)="update()"></app-form-footer>
        </mat-card>

    </div>
</div>