<!-- <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" [hidePageSize]='hidePageSize' [pageIndex]="pageIndex" aria-label="Select page">
</mat-paginator> -->

<table>
    <tr>
        <td style="padding-right: 10px; border-right: 2px solid #ccc; width: 250px; height: 90px;"><img
                src="https://owl-tech.net/cgr/images/gmbsrl.png" alt="Logo" width="100%" height="100%"></td>
        <td>
    <tr><b style="font-size: 18px; font-family:'Tahoma'">EDELMIRA RAMOS MOLLO</b></tr>
    <tr><b style="font-size: 14px;">Gerente General, Gambarte S.R.L</b></tr>
    <tr style="font-size: 12px;">Contacto: +591 68355517</tr>
    <tr style="font-size: 12px;">Dirección: Calle Mercado No. 1335 Edificio América de la Zona Central, La Paz - Bolivia
    </tr>
    </td>

    </tr>
</table>