.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }
  ul {
    list-style: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    all: unset;
    /* Elimina todos los estilos predeterminados */
    /* Aplica tus estilos personalizados aquí */
    width: 25px;
    height: 25px;
    border: none;
}

button:hover {
    border-radius: 10px;
    background-color: rgb(231, 228, 228);
}

.itemCollapsed{
    display: flex;
    align-items: center;
}
.AsignacionPermisos{
    display: flex;
padding-left: 90px;
}