<div class="body">
    <div class="body__header">
        <h1 class="body__h1">Perfil Persona</h1>
        <div class="fotos">

            <mat-icon class=" button-icon  button-icon--agregar"  *ngIf="disableEditFOTO"  matTooltip="Agregar Foto"
                routerLink="/home/administracion/foto-create/{{person_data?.uuid}}">photo_camera</mat-icon>
            <mat-icon class=" button-icon  button-icon--editar" *ngIf="disableCreateFOTO" matTooltip="Editar Foto"
                routerLink="/home/administracion/foto-edit/{{foto_persona?.uuid}}">monochrome_photos</mat-icon>
            <mat-icon class="button-icon  button-icon--desactivar" *ngIf="disableCreateFOTO"
                matTooltip="Desactivar Foto">no_photography</mat-icon>

        </div>
    </div>

    <div class="body__content">
        <div class="header">
            <div class="profile__icon">
                <mat-icon  *ngIf="disableEditFOTO"  class="icon">account_circle</mat-icon>
                <img class="icon" *ngIf="disableCreateFOTO" [src]="foto">
            </div>
            <div class="profile_datospers">
                <table class="profile__top">
                    <tr>
                        <td class="name__profile"><b>{{person_data?.nombres}} {{person_data?.primer_apellido}}
                                {{person_data?.segundo_apellido}}</b></td>
                    </tr>
                    <tr>
                        <td>Cargo: </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="usuario__body">
            <mat-tab-group [selectedIndex]="selectedIndex">
                <mat-tab id="tab0">
                    <ng-template mat-tab-label>
                        Datos Personales
                    </ng-template>

                    <div class="card__content">
                        <table class="profile__data">
                            <tr>
                                <td><b>Estado Civil:</b></td>
                                <td>{{person_data?.estadosCiviles.nombre}}</td>
                            </tr>
                            <tr>
                                <td><b>Fecha de Nacimiento:</b></td>
                                <td>{{person_data?.fecha_nacimiento}} </td>
                            </tr>
                            <tr>
                                <td><b>Celular:</b></td>
                                <td>{{person_data?.celular}}</td>
                            </tr>
                            <tr>
                                <td><b>Genero:</b></td>
                                <td>{{person_data?.generos.nombre}}</td>
                            </tr>
                            <tr>
                                <td><b>Ocupacion:</b></td>
                                <td>{{person_data?.ocupaciones.nombre}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card__footer">
                        <button routerLink="/home/administracion/personedit/{{person_data?.uuid}}"
                            class="button button--create">Editar Datos Personales</button>

                    </div>
                </mat-tab>
                <mat-tab label="Roles">
                    <table mat-table [dataSource]="dataSource_roles" class="card__table">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Rol </th>
                            <td mat-cell *matCellDef="let element"> {{element?.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripcion de Rol </th>
                            <td mat-cell *matCellDef="let element"> {{element?.descripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado del Rol</th>
                            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-tab>
                <mat-tab label="Documentos" id="documentos">

                    <table mat-table [dataSource]="dataSource_documentos" class="card__table">
                        <ng-container matColumnDef="documento">
                            <th mat-header-cell *matHeaderCellDef> Documento </th>
                            <td mat-cell *matCellDef="let element1"> {{element1?.tipoDocumentos.nombre}} </td>
                        </ng-container>
                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef> Numero </th>
                            <td mat-cell *matCellDef="let element1"> {{element1.numero}} </td>
                        </ng-container>
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element1"> {{element1.estado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lugar">
                            <th mat-header-cell *matHeaderCellDef> Lugar de Emision </th>
                            <td mat-cell *matCellDef="let element1"> {{element1.lugar_emision}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Accciones </th>
                            <td mat-cell *matCellDef="let element1">
                                <button routerLink="/home/administracion/documentoedit/{{element1.uuid}}"
                                    class="button button--simple">Editar</button>

                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSizeOptions]="[5,7,10]" showFirstLastButtons></mat-paginator>
                    <div class="card__footer">

                        <button routerLink="/home/administracion/documentocreate/{{person_data?.uuid}}"
                            class="button button--create">Agregar Documento</button>
                    </div>
                </mat-tab>
                <mat-tab label="Usuario" data-cy="usuariover">

                    <table class="profile__data">

                        <tr>
                            <td><b>Usuario:</b></td>
                            <td>{{user_data?.usuario}}</td>
                        </tr>
                        <tr>
                            <td><b>Correo Personal:</b></td>
                            <td>{{user_data?.correoPersonal}}</td>
                        </tr>
                        <tr>
                            <td><b>Correo Corporativo:</b></td>
                            <td>{{user_data?.correoCorporativo}}</td>
                        </tr>
                        <tr>
                            <td><b>Estado:</b></td>
                            <td>{{user_data?.estado}}</td>
                        </tr>
                    </table>
                    <div class="card__footer">
                        <button routerLink="/home/administracion/useredit/{{user_data?.uuid}}" *ngIf="disableCreateUser"
                            class="button button--simple" [disabled]="disableEditUser">
                            Editar Usuario
                        </button>
                        <button routerLink="/home/administracion/usercreate/{{person_data?.uuid}}"
                            *ngIf="disableEditUser" [disabled]="disableCreateUser" class="button button--create"
                            data-cy="usuariocreate">
                            Añadir Usuario
                        </button>
                    </div>
                </mat-tab>

            </mat-tab-group>


        </div>
    </div>
</div>