<div class="body">
    <div class="body__header">
        <h1 class="body__h1">{{ operacion }}</h1>
    </div>
    <div class="body__content">
        <mat-card class="card card--one">
            <mat-card-header class="card__header--form">
                <h4>{{ editar }}</h4>
            </mat-card-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">
                    <div class="content content--one">
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Numero de Cuenta:</label>
                                <input formControlName="numero_cuenta" type="text" placeholder="Ejem. 1230981238123"
                                    class="content__imput"
                                    [ngClass]="{'invalid': numero_cuentaControl.invalid && (numero_cuentaControl.dirty || numero_cuentaControl.touched), 'valid': numero_cuentaControl.valid}">
                            </div>
                            <div *ngIf="numero_cuentaControl.invalid && (numero_cuentaControl.dirty || numero_cuentaControl.touched)"
                                class="text-danger">
                                <span *ngIf="numero_cuentaControl.errors?.['required']">El numero_cuenta es Requerido</span>
                                <span *ngIf="numero_cuentaControl.errors?.['minlength']">El numero_cuenta debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="numero_cuentaControl.errors?.['maxlength']">El numero_cuenta no debe tener mas de 200
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Fecha de Apertura</label>
                                <input formControlName="fecha_apertura" type="datetime-local" placeholder="Ejem. "
                                    class="content__imput"
                                    [ngClass]="{'invalid': fecha_aperturaControl.invalid && (fecha_aperturaControl.dirty || fecha_aperturaControl.touched), 'valid': fecha_aperturaControl.valid}">
                            </div>
                            <div *ngIf="fecha_aperturaControl.invalid && (fecha_aperturaControl.dirty || fecha_aperturaControl.touched)"
                                class="text-danger">
                                <span *ngIf="fecha_aperturaControl.errors?.['required']">La fecha_apertura es Requerida</span>
                                <span *ngIf="fecha_aperturaControl.errors?.['maxlength']">La fecha_apertura no debe tener mas
                                    de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Contrato</label>
                                <input formControlName="contrato" type="text" placeholder=""
                                    class="content__imput"
                                    [ngClass]="{'invalid': contratoControl.invalid && (contratoControl.dirty || contratoControl.touched), 'valid': contratoControl.valid}">
                            </div>
                            <div *ngIf="contratoControl.invalid && (contratoControl.dirty || contratoControl.touched)"
                                class="text-danger">
                                <span *ngIf="contratoControl.errors?.['required']">La contrato es Requerida</span>
                                <span *ngIf="contratoControl.errors?.['maxlength']">La contrato no debe tener mas
                                    de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Tipo de Cuenta Bancaria:</label>
                                <select formControlName="tipoCuentasBancarias" class="content__imput"
                                    [ngClass]="{'invalid': tipoCuentasBancariasControl.invalid && (tipoCuentasBancariasControl.dirty || tipoCuentasBancariasControl.touched), 'valid': tipoCuentasBancariasControl.valid}">
                                    <option value="" disabled selected>Selecciona tipo cuenta bancaria</option>
                                    <option *ngFor="let dato of tipocuentas" [value]="dato.uuid">{{ dato.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Entidad Financiera:</label>
                                <select formControlName="entidadesFinancieras" class="content__imput"
                                    [ngClass]="{'invalid': entidadesFinancierasControl.invalid && (entidadesFinancierasControl.dirty || entidadesFinancierasControl.touched), 'valid': entidadesFinancierasControl.valid}">
                                    <option value="" disabled selected>Selecciona entidade financiera</option>
                                    <option *ngFor="let dato of entidadfinancieras" [value]="dato.uuid">{{ dato.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Moneda:</label>
                                <select formControlName="monedas" class="content__imput"
                                    [ngClass]="{'invalid': monedasControl.invalid && (monedasControl.dirty || monedasControl.touched), 'valid':monedasControl.valid}">
                                    <option value="" disabled selected>Selecciona entidade financiera</option>
                                    <option *ngFor="let dato of monedas" [value]="dato.uuid">{{ dato.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="validation">
                            <div class="content__inputs">
                                <label for="" class="content__formlabel">Agencia:</label>
                                <select formControlName="agencias" class="content__imput"
                                    [ngClass]="{'invalid': agenciasControl.invalid && (agenciasControl.dirty || agenciasControl.touched), 'valid': agenciasControl.valid}">
                                    <option value="" disabled selected>Selecciona entidade financiera</option>
                                    <option *ngFor="let dato of agencias" [value]="dato.uuid">{{ dato.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-footer class="card__footer">
                <button routerLink="{{ regreso }}" class="button button--simple">
                    Cancelar
                </button>
                <button type="submit" class="button button--create" (click)="ejecutarCreate()" >Guardar</button>
            </mat-card-footer>
        </mat-card>

    </div>
</div>