<app-componente-listar 
    [titulo]="'Lista de Tipo de Cortes'" 
    [displayedColumns]="['nombre', 'abreviatura', 'estado', 'action']"  
    [pageSizeOptions]="[10, 15]"
    [link_adicionar]="'/home/parametros/tipo-corte-create'"
    [link_adicionar]="'/home/parametros/tipo-corte-edit'"
    [table_dataSource]="dataSource"
    [url_endpoint]="'parametros/tipo_cortes'"
    [permisos_borrar]="permisos_borrar"
    [permisos_editar]="permisos_editar"
    [permisos_crear]="permisos_crear"
    >
</app-componente-listar>