<div class="container">
    <div class="header">
        <h1 class="header__title">Editar Comando</h1>
    </div>
    <div class="content">
        <mat-card class="card">
            <mat-card-header class="card__header">
                <h4>Datos del Comando</h4>
            </mat-card-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">
                    <div class="form-group">
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Nombre:</label>
                                <input formControlName="nombre" type="text" placeholder="Ejem. Personas"
                                    class="input-control"
                                    [ngClass]="{'invalid': nombreControl.invalid && (nombreControl.dirty || nombreControl.touched), 'valid': nombreControl.valid}">
                            </div>
                            <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                                class="error-message">
                                <span *ngIf="nombreControl.errors?.['required']">El Nombre es Requerido</span>
                                <span *ngIf="nombreControl.errors?.['minlength']">El Nombre debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="nombreControl.errors?.['maxlength']">El Nombre no debe tener mas de 200
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Descripcion</label>
                                <input formControlName="descripcion" type="text"
                                    placeholder="Configuarion de Acceso menu" class="input-control"
                                    [ngClass]="{'invalid': descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched), 'valid': descripcionControl.valid}">
                            </div>
                            <div *ngIf="descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched)"
                                class="error-message">
                                <span *ngIf="descripcionControl.errors?.['required']">La Descripcion es Requerida</span>
                                <span *ngIf="descripcionControl.errors?.['minlength']">La Descripcion debe contener mas
                                    de 3
                                    caracteres</span>
                                <span *ngIf="descripcionControl.errors?.['maxlength']">La Descripcion no debe tener mas
                                    de
                                    200
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Link:</label>
                                <input formControlName="link" type="text" class="input-control"
                                [ngClass]="{'invalid': linkControl.invalid && (linkControl.dirty || linkControl.touched), 'valid': linkControl.valid}">
                            </div>
                            <div *ngIf="linkControl.invalid && (linkControl.dirty || linkControl.touched)"
                                class="error-message">
                                <span *ngIf="linkControl.errors?.['required']">El Link es Requerido</span>
                                <span *ngIf="linkControl.errors?.['minlength']">El Link debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="linkControl.errors?.['maxlength']">El Link no debe tener mas de
                                    200
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Estado</label>
                                <select formControlName="estado" class="input-control">
                                    <option value="true">Activado</option>
                                    <option value="false">Desactivado</option>
                                </select>
                            </div>

                        </div>
                        <form [formGroup]="menuFormGroup">
                            <div class="input-validation">
                                <div class="input-group">

                                    <label for="" class="input-label">Menus:</label>
                                    <select formControlName="uuid" class="input-control">
                                        <option value="" disabled selected>Selecciona un Menu</option>
                                        <option *ngFor="let menu of menus" [value]="menu.uuid">{{
                                            menu.nombre }}
                                        </option>
                                    </select>

                                </div>

                            </div>
                        </form>
                    </div>




                </form>
            </mat-card-content>
            <mat-card-footer class="card__footer">
                <a routerLink="/home/comandolist" class="button button--simple">
                    <span>Cancelar</span>
                </a>

                <button type="submit" class="button button--create" (click)="edit()"
                    data-cy="crearcomando">Guardar</button>



            </mat-card-footer>
        </mat-card>

    </div>
</div>