<app-componente-listar 
    [titulo]="'Lista de Entidades Financieras'" 
    [displayedColumns]="['nombre', 'abreviatura', 'estado','action']"  
    [link_adicionar]="'/home/parametros/entidad-financiera-create'"
    [link_editar]="'/home/parametros/entidad-financiera-edit'"
    [table_dataSource]="dataSource"
    [pageSizeOptions]="pageSizeOptions"
    [url_endpoint]="'parametros/entidades_financieras'"
    [permisos_borrar]="permisos_borrar"
    [permisos_editar]="permisos_editar"
    [permisos_crear]="permisos_crear"
    >
</app-componente-listar>