<div class="container">
    <div class="header">
        <h1 class="header__title">Editar de Rol</h1>
    </div>
    <div class="content">

        <mat-card class="card">
            <mat-card-header class="card__header">
                <h4>Datos de Rol</h4>
            </mat-card-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">
                    <div class="form-group">
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Nombre de Rol:</label>
                                <input type="text" formControlName="nombre" placeholder="Ejem. Cajero"
                                    class="input-control"
                                    [ngClass]="{'invalid': nombreControl.invalid && (nombreControl.dirty || nombreControl.touched), 'valid': nombreControl.valid}">
                            </div>
                            <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)"
                                class="error-message">
                                <span *ngIf="nombreControl.errors?.['required']">El Nombre es Requerido</span>
                                <span *ngIf="nombreControl.errors?.['minlength']">El Nombre debe contener mas de 3
                                    caracteres</span>
                                <span *ngIf="nombreControl.errors?.['maxlength']">El Nombre no debe tener mas de
                                    30
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Descripcion:</label>
                                <input type="text" formControlName="descripcion" class="input-control"
                                    placeholder="Ejem. Este Rol es Asignado a Cajero" appNoLeadingTrailingWhitespace
                                    [ngClass]="{'invalid': descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched), 'valid': descripcionControl.valid}">
                            </div>
                            <div *ngIf="descripcionControl.invalid && (descripcionControl.dirty || descripcionControl.touched)"
                                class="error-message">
                                <span *ngIf="descripcionControl.errors?.['required']">La Descripcion es Requerida</span>
                                <span *ngIf="descripcionControl.errors?.['minlength']">La Descripcion debe contener mas
                                    de 3
                                    caracteres</span>
                                <span *ngIf="descripcionControl.errors?.['maxlength']">La Descripcion no debe tener mas
                                    de
                                    100
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Nivel:</label>
                                <input type="text" formControlName="nivel" class="input-control"
                                    placeholder="Ejem. nivel 1" appNoLeadingTrailingWhitespace
                                    [ngClass]="{'invalid': nivelControl.invalid && (nivelControl.dirty || nivelControl.touched), 'valid': nivelControl.valid}">
                            </div>
                            <div *ngIf="nivelControl.invalid && (nivelControl.dirty || nivelControl.touched)"
                                class="error-message">
                                <span *ngIf="nivelControl.errors?.['required']">La nivel es Requerida</span>
                                <span *ngIf="nivelControl.errors?.['minlength']">La nivel debe contener mas
                                    de 3
                                    caracteres</span>
                                <span *ngIf="nivelControl.errors?.['maxlength']">La nivel no debe tener mas
                                    de
                                    100
                                    caracteres</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Estado:</label>
                                <select formControlName="estado" class="input-control">
                                    <option value="true">Activado</option>
                                    <option value="false">Desactivado</option>
                                </select>
                            </div>
                            <div *ngIf="estadoControl.invalid && (estadoControl.dirty || estadoControl.touched)"
                                class="error-message">
                                <span *ngIf="estadoControl.errors?.['required']">El Estado es Requerido</span>

                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">

                                <label for="" class="input-label">SubSistemas:</label>
                                <button class="button button--form" type="button" (click)="addLesson()"
                                    data-cy="Addsubsistema">Añadir SubSistemas</button>
                            </div>

                        </div>
                        <div class="input-validation">
                            <form class="roles__formulario" [formGroup]="fg">
                                <div class="roles__table-container">
                                    <table mat-table class="roles__table" [dataSource]="dataSourcePacks">
                                        <ng-container formArrayName="promos">
                                            <ng-container class="rolesA" matColumnDef="rol" sticky>
                                                <th mat-header-cell *matHeaderCellDef></th>
                                                <td mat-cell *matCellDef="let element;" [formGroup]="element">
                                                    <select class="imput__rol" formControlName="uuid">
                                                        <option value="" disabled selected>Selecciona Subsistema
                                                        </option>
                                                        <option aria-placeholder="Selecciones Tipo de Documento"
                                                            *ngFor="let dato of roles" [value]="dato.uuid">{{
                                                            dato.nombre }}
                                                        </option>
                                                    </select>
                                                </td>
                                            </ng-container>
                                            <ng-container class="rolesB" matColumnDef="eliminar">
                                                <th mat-header-cell *matHeaderCellDef></th>
                                                <td mat-cell *matCellDef="let element; index as i"
                                                    [formGroup]="element">
                                                    <button class="button button--delete" type="button"
                                                        (click)="deleteLesson(i)">
                                                        Quitar
                                                    </button>
                                                </td>
                                            </ng-container>
                                            <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </ng-container>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>


                </form>
            </mat-card-content>
            <mat-card-footer class="card__footer">
                <a routerLink="/home/rolelist" class="button button--simple">
                    <span>Cancelar</span>
                </a>
                <button class="button button--create" (click)="create()" data-cy="crearrol">Guardar</button>



            </mat-card-footer>
        </mat-card>

    </div>
</div>