<app-componente-listar 
    [titulo]="'Lista de Monedas'" 
    [displayedColumns]="['nombre', 'abreviatura', 'estado', 'pais','action']" 
    [ColumnsNames]="['Nombre', 'Abreviatura', 'Estado', 'Pais','action']"  
    [link_adicionar]="'/home/parametros/moneda-create'"
    [link_editar]="'/home/parametros/moneda-edit'"
    [table_dataSource]="dataSource"
    [pageSizeOptions]="pageSizeOptions"
    [url_endpoint]="'parametros/monedas'"
    [permisos_borrar]="permisos_borrar"
    [permisos_editar]="permisos_editar"
    [permisos_crear]="permisos_crear"
    >
</app-componente-listar>