<div class="container">
    <div class="header">
        <h1 class="header__title">{{ operacion }}</h1>
    </div>
    <div class="content">
        <mat-card class="card">
            <mat-card-header class="card__header">
                <h4>{{ editar }}</h4>
            </mat-card-header>
            <mat-card-content class="card__content">
                <form id="loginform" [formGroup]="formGroup">
                    <div class="form-group">
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Valor:</label>
                                <input formControlName="valor" type="text" placeholder="Ejem. 100"
                                    class="input-control"
                                    [ngClass]="{'invalid': valorControl.invalid && (valorControl.dirty || valorControl.touched), 'valid': valorControl.valid}">
                            </div>
                            <div *ngIf="valorControl.invalid && (valorControl.dirty || valorControl.touched)"
                                class="error-message">
                                <span *ngIf="valorControl.errors?.['required']">Valor es Requerido</span>
                                <span *ngIf="valorControl.errors?.['pattern']"> Valor debe ser numero</span>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Orden</label>
                                <input formControlName="orden" type="text" placeholder="Ejem. 1"
                                    class="input-control"
                                    [ngClass]="{'invalid': ordenControl.invalid && (ordenControl.dirty || ordenControl.touched), 'valid': ordenControl.valid}">
                            </div>
                            <div *ngIf="ordenControl.invalid && (ordenControl.dirty || ordenControl.touched)"
                                class="error-message">
                                <span *ngIf="ordenControl.errors?.['required']">La orden es Requerida</span>
                                <span *ngIf="ordenControl.errors?.['pattern']">Orden debe ser numero</span>
                            </div>
                        </div>
                    
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Moneda:</label>
                                <select formControlName="monedas" class="input-control"
                                    [ngClass]="{'invalid': monedasControl.invalid && (monedasControl.dirty || monedasControl.touched), 'valid': monedasControl.valid}">
                                    <option value="" disabled selected>Selecciona Moneda</option>
                                    <option *ngFor="let dato of monedas" [value]="dato.uuid">{{ dato.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="input-validation">
                            <div class="input-group">
                                <label for="" class="input-label">Tipo de Corte:</label>
                                <select formControlName="tipoCortes" class="input-control"
                                    [ngClass]="{'invalid': tipoCortesControl.invalid && (tipoCortesControl.dirty || tipoCortesControl.touched), 'valid': tipoCortesControl.valid}">
                                    <option value="" disabled selected>Selecciona Corte</option>
                                    <option *ngFor="let dato of tipoCortes" [value]="dato.uuid">{{ dato.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-footer class="card__footer">
                <button routerLink="{{ regreso }}" class="button button--simple">
                    Cancelar
                </button>
                <button data-cy="guardar" type="submit" class="button button--create" (click)="ejecutarCreate()" >Guardar</button>
            </mat-card-footer>
        </mat-card>

    </div>
</div>